<div class="page-header">
  <h1> Your Dashboard <small> (username I guess?))</small></h1>
</div>
<div class="row">
  <div class="col-md-5">
    <ul class="list-group">
      <li class="list-group-item"> <a href="/view"> View List </a> </li>
      <li class="list-group-item"> <a href="/new">Track Something New</a> </li>
      <li class="list-group-item"> <a href="/auth/logout">Log Out</a> </li>
    </ul>
  </div>
  <div class="col-md-5">
    <h2> Updates Due: </h2>
    <ul>
      <li> Daily Exercise </li>
      <li> Domino's Tally </li>
      <li> something else </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    wide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffwide stuffs
  </div>
</div>
